.home {
  padding: 2rem 3.5rem;
  background-color: var(--primary-green);
  color: white;
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.hero-text {
  max-width: 600px;
}
.hero-text h2 {
  color: var(--primary-yellow);
}
.hero-text p {
  font-size: 1.1rem;
  margin-bottom: 2.5rem;
  line-height: 1.6;
}

.btn {
  background-color: var(--primary-yellow);
  color: black;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #e5c313;
}

.hero-image img {
  width: 300px;
  height: auto;
  border-radius: 16px;
  object-fit: cover;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}
.menu-preview {
  padding: 4rem 2rem;
  margin-top: 2.5rem;
  border-radius: 1rem;
  background-color: var(--light-gray);
  color: var(--dark-gray);
  text-align: center;
}

.menu-preview h2 {
  font-size: 2.5rem;
  font-family: var(--font-heading);
  margin-bottom: 2rem;
  color: var(--primary-green);
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.menu-card {
  background: white;
  border-radius: 12px;
  width: 280px;
  padding: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.menu-card:hover {
  transform: translateY(-5px);
}

.menu-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.menu-card h3 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  color: var(--primary-green);
}
.reviews-section {
  padding: 4rem 2rem;
  color: var(--dark-gray);
  text-align: center;
}

.reviews-section h2 {
  font-size: 2.5rem;
  font-family: var(--font-heading);
  margin-bottom: 2rem;
  color: var(--white);
}

.review-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.review-card {
  background-color: var(--light-gray);
  padding: 1.5rem;
  border-radius: 12px;
  width: 280px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  font-size: 0.95rem;
  line-height: 1.5;
  position: relative;
}

.review-card h4 {
  margin-top: 1rem;
  font-weight: bold;
  color: var(--primary-green);
}

.review-card span {
  display: block;
  margin-top: 0.5rem;
  font-size: 1.2rem;
  color: gold;
}